<head>
    {% if page.layout == 'home' %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ '/assets/css/normalize.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | relative_url }}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/39aa722d63.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{{ '/assets/js/site.js' | relative_url }}"></script>
</head>