<aside class="sidebar">
    <div class="sidebar-bg-image"></div>
    <div class="sidebar-content">
        <p class="site-title">Hello, my name is Kirdana.</p>
        <p class="site-tagline">An aspiring artist!</p>
        <div class="nav">
            <ul class="social">
                <li>
                    <a href="https://www.instagram.com/sketchbyks/"><i class="fab fa-instagram"></i> sketchbyks</a>
                </li>
            </ul>
        </div>
        <p class="copyright">&copy; 2020 Kirdana Sai</p>
    </div>
</aside>
