<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include sidebar.html %}

    <div class="main">
        <section class="content">
            <div class="portfolio">
                <div class="portfolio-sizer"></div>
                {% for art in site.art %}
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{{ art.url }}">
                        <div class="portfolio-item-image">
                            <img alt="{{ art.title }}" src="{{ site.baseurl }}/assets/art/{{ art.image }}" />
                        </div>
                        <div class="portfolio-item-caption">
                            <div class="portfolio-item-caption-inner">
                                <h2>{{ art.title }}</h2>
                                <p>{{ art.tagline }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {% include footer.html %}
</body>
</html>